[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = ">=7.2"
jupyter = ">=1.0.0"
matplotlib = ">=3.0.2"
mysql-connector-python = ">=8.0.20"
openpyxl = ">=2.6.1"
pandas = ">=0.23.4"
requests = ">=2.21.0"
xlrd = ">=1.2.0"

# Real requirement is python>=3.6
# [requires]
# python_version = "3.7"
